.App {
  text-align: center;
}
nav{
  text-align: left;
  padding: 30px 40px;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  /* border-bottom: 1px solid; */
}

.create-employee{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-block {
  display: flex;
  padding: 10px;
  flex-direction: column;

}
.input-label{
  text-align: left;
}
.input-field{
  border: 1px solid gray;
  box-shadow: 1px 2px grey;
  padding: 10px;
  border-radius: 5px;
  width: 300px;

}
.employee-block{
  padding: 10px 100px 40px 100px;
  border: 1px solid;
}
.form-btn{
  margin: 10px;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
